*.csv
original
processados
graficos
logs
__pycache__
__pycache__/
microdados-ibge
*.pyc
*.xls
*.parquet
*.xlsx

# Não ignorar arquivos de nomes específicos
!documentacao/CBO_CSV.csv
!documentacao/Curso_CSV.csv
!documentacao/CBO_CSV_TabelaAuxiliar.csv