# python==3.10.6
ibge_parser==1.0.2
matplotlib==3.8.0
# numpy==1.21.5
numpy==1.26.4
pandas==1.3.5
requests==2.31.0
scikit-learn==1.4.2
xlrd==2.0.1 
openpyxl==3.0.9
Jinja2==3.0.3
seaborn==0.13.2
memory-profiler>=0.61.0
psutil>=5.9